node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# My stuff

# get this file with scripts/getJsonPoems.py
selected_poems.json
# get this file with scripts/getNumerals.py
roman_num_poems.json