@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url(reset.css);
/*Colors classes*/
.white {
  color: white;
}

.yellow {
  color: var(--secondary-color-2);
}

.pink {
  color: var(--accent-color-1);
}

/*One size only classes*/
@media screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
}

body {
  background: radial-gradient(var(--primary-color), #120032);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  color: var(--secondary-color-1);
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  body {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  body {
    font-size: 1.65rem;
  }
}
@media screen and (max-width: 599px) {
  body {
    font-size: 1.6rem;
  }
}

header {
  color: #000;
  background: var(--secondary-color-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-family: "Sacramento";
  font-weight: 700;
  font-size: 7.5rem;
  padding-left: 8rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  header h1 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  header h1 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}
@media screen and (max-width: 599px) {
  header h1 {
    display: none;
  }
}
header aside.lastfm {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  width: 40%;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  header aside.lastfm {
    font-size: 1rem;
  }
}
@media screen and (max-width: 599px) {
  header aside.lastfm {
    font-size: 1.4rem;
    border-bottom: 5px var(--accent-color-1) dotted;
    width: 100%;
  }
}
header aside.lastfm img {
  height: 100%;
  padding-right: 3rem;
}
@media screen and (max-width: 599px) {
  header aside.lastfm img {
    width: 30%;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  header aside.lastfm img {
    height: 30%;
  }
}
header aside.lastfm div {
  color: rgb(255, 140, 140);
  text-align: center;
  font-family: "Space Mono", monospace;
  width: 100%;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  header aside.lastfm div {
    padding-right: 3rem;
  }
}
header aside.lastfm div a {
  font-size: 2.8rem;
  font-weight: bold;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  header aside.lastfm div a {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 959px) {
  header aside.lastfm div a {
    font-size: 1.7rem;
  }
}

.left-side {
  width: 340px;
  height: 100%;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background: rgba(10, 0, 10, 0.35);
  animation: slide-right 2s 0s 1 normal ease none;
}
@keyframes slide-right {
  0% {
    left: -500;
  }
}
@media screen and (max-width: 599px) {
  .left-side {
    position: static;
  }
}
.left-side .bio-choices {
  text-align: center;
  padding-top: 2.5rem;
  display: flex;
  gap: 2rem;
}
.left-side .bio-choices a,
.left-side .bio-choices button {
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: var(--secondary-color-2);
  border-radius: 15px;
}
.left-side .bio-choices a:hover,
.left-side .bio-choices button:hover {
  background-color: #303030;
}
.left-side .social-media {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 599px) {
  .left-side .social-media {
    padding-left: 0;
    align-items: center;
  }
}
.left-side .social-media #pfp {
  width: 25rem;
  height: auto;
  border-radius: 50%;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .left-side .social-media #pfp {
    width: 20rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .left-side .social-media #pfp {
    width: 20rem;
  }
}
.left-side .social-media #social-media-username {
  text-align: center;
}
@media screen and (max-width: 599px) {
  .left-side .social-media #social-media-username {
    padding: 0;
    align-items: center;
  }
}
@media screen and (max-width: 599px) {
  .left-side .social-media #social-media-username {
    padding: 0;
    align-items: center;
  }
}
.left-side .availabilities {
  width: fit-content;
  font-size: 1em;
  padding-top: 0.9rem;
  padding-left: 2.3rem;
  padding-bottom: 0.9rem;
  padding-right: 5rem;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .left-side .availabilities {
    border-left: 3px var(--secondary-color-2) solid;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .left-side .availabilities {
    border-left: 3px var(--secondary-color-2) solid;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 600px) {
  .left-side .availabilities {
    border-left: 5px var(--secondary-color-2) solid;
  }
}
@media screen and (max-width: 599px) {
  .left-side .availabilities {
    width: 100%;
    font-size: 2rem;
    padding: 0;
    align-self: center;
    border-top: 1px var(--secondary-color-2) dotted;
    border-bottom: 1px var(--secondary-color-2) dotted;
  }
}
@media screen and (max-width: 599px) {
  .left-side .dog {
    /* Don't worry, the dog is at the end of the website instead :)*/
    display: none;
  }
}
.left-side .dog .milo,
.left-side .dog img {
  background-image: url(/images/doggo/20240114_162341b.jpg);
  height: 18rem;
  width: 309px;
  border: 2px var(--accent-color-2) solid;
  border-radius: 10%;
}

.content {
  padding-left: 340px;
  animation: slide-right-center 0s 0s 1 normal ease none;
  animation: fade-in 2s 0 1 normal ease none;
}
@keyframes slide-right-center {
  0% {
    padding-left: 1.8%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    color: rgba(0, 0, 0, 0);
    border-left: none;
  }
}
.content * {
  animation: fade-in 1s;
}
@media screen and (max-width: 599px) {
  .content {
    padding: 0 2rem;
  }
}
.content h2 {
  font-weight: bold;
  font-size: 5rem;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .content h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .content h2 {
    font-size: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .content h2 {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

#normal-bio .header {
  color: var(--accent-color-1);
  padding: 10rem 0;
  padding-right: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
#normal-bio .header h2 {
  font-size: 4.5rem;
  font-weight: normal;
  font-family: "Lumanosimo", cursive;
}
#normal-bio .header h3 {
  text-align: end;
  font-size: 2.8rem;
  font-style: italic;
  font-family: "Lumanosimo", cursive;
}
#normal-bio .header .no-way {
  border: 1px dotted var(--secondary-color-2);
  width: 35rem;
  height: auto;
}
#normal-bio .main {
  height: 53rem;
  width: 100%;
  font-size: 2.5rem;
  background: #000000;
  overflow-y: scroll;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
#normal-bio .main h2 {
  text-align: center;
  text-decoration: underline;
}
#normal-bio .main h3 {
  font-size: 3rem;
  text-decoration: underline;
  padding-bottom: 1rem;
}
#normal-bio .main div:nth-of-type(2n + 1) {
  text-align: left;
  padding-left: 7%;
}
#normal-bio .main div:nth-of-type(2n) {
  text-align: right;
  padding-right: 7%;
}
#normal-bio .main ul {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

#language-bio {
  padding-left: 1.8%;
}
#language-bio h2 {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}
#language-bio #language-menu {
  display: flex;
  padding: 1rem 0 1rem 20%;
}
#language-bio #language-menu .logo {
  height: 6rem;
  transition: 0.5s height;
  padding: 0 8rem 0 0;
}
#language-bio #language-menu .logo.clicked {
  height: 8rem;
}
#language-bio #language-menu .logo:hover {
  height: 8rem;
}
#language-bio .description h3 {
  font-size: 3rem;
  color: var(--accent-color-1);
  font-weight: bold;
}
#language-bio .description div {
  width: 75%;
  border-left: var(--secondary-color-2) 3.5px double;
  padding: 0.5% 0 0.5% 10px;
}

.dog.mobile {
  border-top: 5px var(--accent-color-1) dotted;
  text-align: center;
}
.dog.mobile img {
  border-radius: 10%;
}/*# sourceMappingURL=main.css.map */