$gradient-top: linear-gradient(
  0deg,
  #ffa9e7ff,
  #ff84e8ff,
  #7f2ccbff,
  #414361ff,
  #2a2d43ff
);
$gradient-right: linear-gradient(
  90deg,
  #ffa9e7ff,
  #ff84e8ff,
  #7f2ccbff,
  #414361ff,
  #2a2d43ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #ffa9e7ff,
  #ff84e8ff,
  #7f2ccbff,
  #414361ff,
  #2a2d43ff
);
$gradient-left: linear-gradient(
  270deg,
  #ffa9e7ff,
  #ff84e8ff,
  #7f2ccbff,
  #414361ff,
  #2a2d43ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #ffa9e7ff,
  #ff84e8ff,
  #7f2ccbff,
  #414361ff,
  #2a2d43ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #ffa9e7ff,
  #ff84e8ff,
  #7f2ccbff,
  #414361ff,
  #2a2d43ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #ffa9e7ff,
  #ff84e8ff,
  #7f2ccbff,
  #414361ff,
  #2a2d43ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #ffa9e7ff,
  #ff84e8ff,
  #7f2ccbff,
  #414361ff,
  #2a2d43ff
);
$gradient-radial: radial-gradient(
  #ffa9e7ff,
  #ff84e8ff,
  #7f2ccbff,
  #414361ff,
  #2a2d43ff
);
