@import "../../abstracts/media-queries";

/*Colors classes*/
.white {
    color: white;
}

.yellow {
    color: var(--secondary-color-2);
}

.pink {
    color: var(--accent-color-1);
}
/*One size only classes*/
.mobile {
    @include gt-xs {
        display: none;
    }
}
