@import "../global/theme";

.last-fm-status {
    background-color: $accentColor;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border-bottom: 5px cyan dotted;
    width: 100%;

    img {
        width: 30%;
        padding-right: 3rem;
    }
    div {
        line-height: 1.5;
        color: $textColor;
        text-align: center;
        font-family: "Space Mono", monospace;
        width: 100%;

        a {
            font-weight: bold;
            font-size: 1.7rem;
        }
    }
}
