/*My very first css stylings*/
/*I learned HTML and CSS with this youtube playlist: https://youtube.com/playlist?list=PL0eyrZgxdwhwP0AxnbBiDBCi53LK9uCMZ&si=NGIBflo_KU30W684 */

html {
  background-color: rgb(235, 225, 213);
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 0 solid transparent;
  padding: 0;
  margin: 0;
}
header {
  margin-top: 30px;
  text-align: center;
}
.title {
  font-size: 62px;
  line-height: 60px;
}
.author {
  font-size: 24px;
}
.TRUE-flex-container-real {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box {
  width: 425px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  border: 3px solid black;
  text-align: left;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box1 {
  background-color: pink;
}
.box2 {
  background-color: rgb(255, 255, 148);
}
.box3 {
  background-color: rgb(180, 224, 255);
}
.box4 {
  background-color: rgb(192, 255, 180);
  margin-bottom: 20px;
}
.namedescrip {
  align-items: center;
  width: 50%;
}
.img {
  height: 200px;
}
.Lucario:hover {
  content: url("https://i.pinimg.com/originals/d4/be/56/d4be56c41035936cef4705fb148da8a2.png");
}
