body {
  background: radial-gradient(var(--primary-color), rgb(18, 0, 50));
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  color: var(--secondary-color-1);
}

main {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}
