body {
  background: radial-gradient(var(--primary-color), #120032);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  color: var(--secondary-color-1);
}

main {
  display: flex;
  justify-content: space-between;
}
