@import "../../abstracts/media-queries";

.center {
  display: flex;
  flex-direction: column;

  // media queries
  @include xs {
    padding: 0 2rem;
  }
  //

  .description {
    padding: {
      bottom: 4rem;
      right: 2rem;
    }

    h2 {
      font-weight: bold;
      font-size: 4rem;
      padding-top: 2.5rem;
      padding-bottom: 3rem;

      // media queries
      @include xs {
        font-size: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      //
    }
  }

  .attributes {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .logo {
      height: 6rem;
    }
  }
}
