@import "../../abstracts/media-queries";
@import "../../abstracts/at_mixins";
@import "../../abstracts/variables";

.content {
    padding-left: calc(1.8% + $left-side-size);

    // animations
    @include animation(slide-right-center, 0s, 0s) {
        0% {
            padding-left: 1.8%;
        }
    }
    @include animation(fade-in, 2s) {
        0% {
            opacity: 0;
            color: rgba(0, 0, 0, 0);
            border-left: none;
        }
    }

    * {
        animation: fade-in 1s;
    }
    //

    // media queries
    @include xs {
        padding: 0 2rem;
    }
    //

    h2 {
        font-weight: bold;
        font-size: 5rem;
        padding-top: 2.5rem;
        padding-bottom: 3rem;

        // media queries
        @include md {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        @include sm {
            font-size: 3.5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        @include xs {
            font-size: 3rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        //
    }

    #language-menu {
        display: flex;
        padding: 1rem 0 1rem 20%;

        .logo {
            height: 6rem;
            transition: 0.5s height;
            padding: 0 8rem 0 0;

            &.clicked {
                height: 8rem;
            }

            &:hover {
                height: 8rem;
            }
        }
    }

    .description {
        h3 {
            font-size: 3rem;
            color: var(--accent-color-1);
            font-weight: bold;
        }

        div {
            width: 75%;
            border-left: var(--secondary-color-2) 3.5px double;
            padding: 0.5% 0 0.5% 10px;
        }
    }
}
