#language-bio {
    padding-left: 1.8%;

    h2 {
        padding-top: 2.5rem;
        padding-bottom: 3rem;
    }

    #language-menu {
        display: flex;
        padding: 1rem 0 1rem 20%;

        .logo {
            height: 6rem;
            transition: 0.5s height;
            padding: 0 8rem 0 0;

            &.clicked {
                height: 8rem;
            }

            &:hover {
                height: 8rem;
            }
        }
    }

    .description {
        h3 {
            font-size: 3rem;
            color: var(--accent-color-1);
            font-weight: bold;
        }

        div {
            width: 75%;
            border-left: var(--secondary-color-2) 3.5px double;
            padding: 0.5% 0 0.5% 10px;
        }
    }
}
