.left-side {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .social-media {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    #pfp {
      border-radius: 50%;
      height: 25rem;
      width: 25rem;
    }

    p {
      padding-left: 15%;
    }
  }

  .availabilities {
    padding: {
      top: 1.9rem;
      left: 2.3rem;
      bottom: 10rem;
    }
    border-left: 5px var(--secondary-color-2) solid;
  }

  .dog img {
    height: 20rem;
    width: auto;
    border-radius: 10%;
  }
}
