@import "../../abstracts/media-queries";
@import "../../abstracts/image_mixins";
@import "../../abstracts/at_mixins";

.left-side {
  width: 340px;
  height: 100%;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background: rgba(10, 0, 10, 0.35);
  // animations
  @include animation(slide-right, 2s, 0s) {
    0% {
      left: -500;
    }
  }
  //

  // media queries
  @include xs {
    position: static;
  }
  //

  .social-media {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    // media queries
    @include xs {
      padding-left: 0;
      align-items: center;
    }
    //

    #pfp {
      @include image-size(25rem, $circle: true);
      margin-top: 2rem;

      // media queries
      @include md {
        width: 20rem;
      }

      @include sm {
        width: 20rem;
      }
      //
    }

    #social-media-username {
      text-align: center;

      // media queries
      @include xs {
        padding: 0;
        align-items: center;
      }

      @include xs {
        padding: 0;
        align-items: center;
      }
      //
    }
  }

  .availabilities {
    width: fit-content;
    font-size: 1em;
    padding: {
      top: 0.9rem;
      left: 2.3rem;
      bottom: 0.9rem;
      right: 5rem;
    }

    // media queries
    @include md {
      border-left: 3px var(--secondary-color-2) solid;
      font-size: 1.5rem;
    }

    @include sm {
      border-left: 3px var(--secondary-color-2) solid;
      font-size: 1.5rem;
    }
    @include gt-xs {
      border-left: 5px var(--secondary-color-2) solid;
    }

    @include xs {
      width: 100%;
      font-size: 2rem;
      padding: 0;
      align-self: center;
      border-top: 1px var(--secondary-color-2) dotted;
      border-bottom: 1px var(--secondary-color-2) dotted;
    }
    //
  }

  .dog {
    // media queries
    @include xs {
      /* Don't worry, the dog is at the end of the website instead :)*/
      display: none;
    }
    //

    .milo,
    img {
      background-image: url(/images/doggo/20240114_162341b.jpg);
      height: 18rem;
      width: 309px;
      border: 2px var(--accent-color-2) solid;
      border-radius: 10%;
    }
  }
}
