@import "../../abstracts/media-queries";

.timeline {
  padding: {
    top: 70px;
    right: 50px;
  }
  img {
    height: 77.5vh;

    // media queries
    @include md {
      display: none;
    }

    @include sm {
      display: none;
    }

    @include xs {
      width: 100%;
      height: auto;
    }
    //
  }
}
